.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .Buttons{
      display: flex;
  }
  .singleDiv{
      display: inline-block;
      width: 50%;
  }
  .singleContainer{
      width: 900px;
      margin: 0 auto;
  }
  .singleContainer button{
      margin-top: 15px;
  }