.Card{
    display:flex;
    flex-wrap: wrap;
    width:1130px;
    margin: 0 auto;
  }
.CardInner{
width: 100%;
}
.CardTitle{
    border-bottom: 1px solid lightblue;
    text-align: center;
}
.CardText{
    width: 100%;
}
nav{
    display:flex;
    justify-content: space-around;
    align-item:center;
    min-height: 5vh;
}
.navLink{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style:none;
}
.CardsDiv{
    border: 1px solid lightblue;
        width: 28%;
    display:inline-block;
    height: 200px;
    margin: 10px;
}
.cardsTitle{
    border: 1px solid lightblue;
    padding: 10px 0px;
    text-align: center;
    margin: 0;
}