header{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .Buttons{
      justify-content: center;
  }
  .Form{
      text-align: center;
  }
  .CardMaker{
      display: inline-grid;
  }
  input{
    margin: 10px;

  }
 